@model WebAppXyrilleFirstSem.Web.Areas.Manage.ViewModels.Researches.IndexViewModel
@using WebAppXyrilleFirstSem.Web.Infrastructures.Domain.Enums
@using WebAppXyrilleFirstSem.Web.Infrastructures.Domain.Models
@{
    Layout = "~/areas/manage/views/shared/_managelayout.cshtml";
}


<h1>Index</h1>


<div class="row">
    <div class="col-lg-5">
        <div class="input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Researches</span>
            </div>
            <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchStatus" onchange="searchTrigger()" placeholder="Research Status">
                @{
                    foreach (ResearchStatus researchStatus in Model.ResearchStatuses)
                    {
                        if (Model.ResearchStatus == researchStatus)
                        {
                            <option value="@researchStatus" selected>@researchStatus.ToString()</option>
                        }
                        else
                        {
                            <option value="@researchStatus">@researchStatus.ToString()</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="col-lg-3 ">
        <div class="input-group mt-5">
            <input type="text" id="searchKeyword" placeholder="search research" class="form-control" aria-label="search research" aria-describedby="basic-addon2" value="@Model.Research.Keyword">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="table-responsive table--no-card m-b-30 mt-md-5">
            <a href="~/manage/researches/create" class="btn btn-lg-3 btn-success btn-block">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Create Research</span>
            </a>
        </div>
    </div>
</div>
<hr />


@if (Model.Research.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th>Title</th>
                <th>Content</th>

                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Research research in Model.Research.Items)
                {
                    <tr>
                        <td>
                            @if (research.Title.Length <= 25)
                            {
                                @research.Title
                            }
                            else
                            {
                                @research.Title.Substring(0, 25);<span>...</span>
                            }
                        <td>
                            @if (research.Content.Length <= 25)
                            {
                                @research.Content
                            }
                            else
                            {
                                @research.Content.Substring(0, 25);<span>...</span>
                            }
                        </td>
                        <td>@research.ResearchStatus</td>
                        <td>
                            <a href="~/manage/researches/details/@research.Id" title="Research Details"><button type="button" class="btn"><i class="fas fa-info"></i></button></a>
                            <a href="~/manage/researches/edit/@research.Id" title="Research Update"><button type="button" class="btn"><i class="fas fa-arrow-up"></i></button></a>

                            <a href="#" onclick="confirmDeleteResearch('@research.Id','@research.AuthorId', '@research.Title')" title="Delete Research"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                            @*@{
                                if (research.IsPublished)
                                {
                                    <li class="list-inline-item"><a href="#" title="Unpublish" onclick="confirmUnpublish('@research.Id','@research.Title')"><button class="btn-danger form-control-sm"><i class="fas fa-window-close"></i></button></a></li>
                                }
                                else
                                {
                                    <li class="list-inline-item"><a href="#" title="Publish" onclick="confirmPublish('@research.Id','@research.Title')"><button class="btn-success form-control-sm"><i class="fas fa-check-square"></i></button></a></li>
                                }
                            }*@


                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Research.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/researches/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.Research.Keyword)&status=@(Model.ResearchStatus)" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Research.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            @{
                                var prev = Model.Research.PageIndex - 1;
                                if (prev > 0)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/researches/index?keyword=@Model.Research.Keyword&status=@Model.ResearchStatus&pageSize=@Model.Research.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                                }
                            }
                            <li class="page-item"><a class="page-link" href="#">@(Model.Research.PageIndex)</a></li>
                            @{
                                var next = Model.Research.PageIndex + 1;
                                if (next <= Model.Research.PageCount)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/researches/index?keyword=@Model.Research.Keyword&status=@Model.ResearchStatus&pageSize=@Model.Research.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>0 search results.</p>
}

<!--Model Delete-->
<div class="modal" tabindex="-1" role="dialog" id="modal-delete-research">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Research</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="modal-delete-research-fullname"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-delete-research-confirm"><button type="button" class="btn btn-primary">Delete Research</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!--MODAL Unpublish-->
<div class="modal" tabindex="-1" role="dialog" id="modal-unpublish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Unpublish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to unpublish <span id="modal-unpublish-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-unpublish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL Publish-->
<div class="modal" tabindex="-1" role="dialog" id="modal-publish">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Publish Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to publish <span id="modal-publish-name"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-publish-button">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    ////////////////////UNPUBLISH/////////////////////////////////////////////////////////////////
    function confirmUnpublish(id, name) {
        $("#modal-unpublish-name").html(name);
        $("#modal-unpublish-button").attr("onclick", "UnpublishResearch('" + id + "')");
        $("#modal-unpublish").modal("show");
    }
    function UnpublishResearch(id) {
        $.ajax({
            type: "POST",
            url: "/manage/researches/unpublish",
            data: { id: id },
            success: function (data) {
                location.reload();
            },
            error: function (xhr) {
                var response = JSON.parse(xhr.responseText);
                alert("Error Occured : " + response.errors[0]);
                location.reload();
            }
        });
    }


    //////////////////PUBLISH///////////////////////////////////////////////////////////////////////
    function confirmPublish(id, name) {
        $("#modal-publish-name").html(name);
        $("#modal-publish-button").attr("onclick", "PublishResearch('" + id + "')");
        $("#modal-publish").modal("show");
    }
    function PublishResearch(id) {
        $.ajax({
            type: "POST",
            url: "/manage/researches/publish",
            data: { id: id },
            success: function (data) {
                location.reload();
            },
            error: function (xhr) {
                var response = JSON.parse(xhr.responseText);
                alert("Error Occured : " + response.errors[0]);
                location.reload();
            }
        });
    }

    function confirmDeleteResearch(researchId,authorId, Name) {
        $("#modal-delete-research-fullname").html(Name);
        $("#modal-delete-research-confirm").attr("href", "/manage/researches/delete/" + researchId + "/" + authorId);
        $("#modal-delete-research").modal("show");
    }

    $("#searchKeyword").keyup(function (event) {
        if (event.keyCode === 13) {
            searchTrigger();
        }
    });

    function searchTrigger() {
        window.location = "/manage/researches/index?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&status=" + $("#searchStatus").val();
    }


</script>
